.section3 {
    background-color: aquamarine;
    padding: 40px 20px;
    text-align: center;
}

.section3 .col-1 {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.col-2 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.para2 {
    padding-bottom: 20px;
}

.col-1 h4 {
    color: blue;
}